body {
	background: url(https://www.clipartsgram.com/image/1888917347-website20black20background.jpg);
	background-repeat: no-repeat;
	background-size: 150%;
}

.wrapper {
	width: 1000px;
	padding: 20px;
	margin: 0 auto;
}

h1 {
	float: left;
	padding: 30px;
	margin-bottom: 0;
	margin-right: 50%;
	margin-left: 200px;
	color: white;
	background: #4aaaa5;
	text-align: center;
}


container {
	text-align: center;
	font-size: 24px;
	background: #B1C5C3;
	padding: 60px;
	float: right;
	width: 20%;
}

section {
	float:left;
	position: absolute;
	margin-top: 40px;
	padding-top: 10px;
	padding-left: 50px;
	padding-right: 60px;
	clear: both;
	background-color: #eee;
	overflow: auto;
	width: 40%;
	height: 600px;
}


footer {
	clear: both;
	position:relative;
	margin-top: 67%;
 	background-color: #A8E3D6;
 	padding: 30px;
 	text-align: center;
 	margin-left: 50px;
}